body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #D6FAF4;
}

h1,
h3 {
    text-align: center;
}

.formstyle {
    display: flex;
    gap: .5rem;
    flex-direction: row;
}

.wrap {
    padding: 2rem;
}

.soapquestion {
    display: block;
}

.subtitle {
    display: inline-block;
    padding: .5rem;
    width: auto;
    padding: 1rem;
    ;
    background-color: black;
    color: aliceblue;
    border-radius: .5rem;
}

#error {
    display: none;

}

#backBtn {
    display: inline-block;
    background-color: #06917A;
    color: #ffffff;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    border-radius: 1rem;
    border: none;
}

#resultDiv {
    display: none;
    margin: auto;
    max-width: 1000px;
}

.soap-result {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

}

.item {

    margin-right: 1rem;
    /* Space between the image and text */
}

.soap-img {
    width: 100%;
    /* Control the image size */
    height: auto;
}

.submitbtn {
    display: inline-block;
    background-color: #06917A;
    color: #ffffff;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
    border-radius: 1rem;
    border: none;

}

.submitbtn:disabled {
    background-color: #cccccc;


}


.letter {
    text-align: center;
    border-radius: 1rem;
    width: 100%;
    font-size: 100px;
    background-color: #9CE6DA;
    border: none;
}

#ISFJ {
    display: none;
}

#ISTJ {
    display: none;
}

#INFJ {
    display: none;
}

#INTJ {
    display: none;
}

#ISTP {
    display: none;
}

#ISFP {
    display: none;
}

#INFP {
    display: none;
}

#INTP {
    display: none;
}

#ESTP {
    display: none;
}

#ESFP {
    display: none;
}

#ENFP {
    display: none;
}

#ENTP {
    display: none;
}

#ESTJ {
    display: none;
}

#ESFJ {
    display: none;
}

#ENTJ {
    display: none;
}